@tailwind base;
@tailwind components;
@tailwind utilities;

.purple {
    color: #DA8EBB;
}
.yellow {
    color: #FAED27;
}
.flipImg {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
html {
    scroll-behavior: smooth;
}

@layer utilities {
    .text-size::placeholder{
      font-size: 1rem;
      font-weight: 300;
    }
  }