@tailwind base;
@tailwind components;
@tailwind utilities;

.purple {
    color: #DA8EBB;
}
.yellow {
    color: #FAED27;
}
.white {
    color:#ffff;
}
.black {
    color: #c49102;
}
.flipImg {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
 width: .4rem;
}
::-webkit-scrollbar-track {
    background: rgba(17, 24, 39, 1);
}
::-webkit-scrollbar-thumb {
    background: rgba(124, 58, 237, 1);
    border-radius: 100vw;
}

@layer utilities {
    .text-size::placeholder{
      font-size: 1rem;
      font-weight: 300;
    }
  }